.blog {
  overflow: hidden;

  .blog__title {
    margin-bottom: 35px;
    font-size: 35px;
    line-height: 52px;
    @extend %oswald;
    text-transform: uppercase;
  }

  &__list {
    display: flex;
    margin: 0 -20px;
    flex-wrap: wrap;
  }

  &__item {
   padding: 20px 20px;
  }
}

.blog-article {
  max-width: 580px;
  height: 290px;
  display: flex;
  border: 1px solid #E5E5E5;

  @include maxw($xs) {
    flex-direction: column;
    height: auto;
  }

  &__link {
    width: 50%;
    height: 100%;
    cursor: pointer;
    overflow: hidden;

    @include maxw($xs) {
      height: 200px;
      width: 100%;
    }

    &:hover img{
      transform: scale(1.1);
    }

    .blog-article__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.8s ease-in-out;
    }
  }

  &__content {
    width: 50%;
    padding: 25px;

    @include maxw($xs) {
      width: 100%;
      padding: 20px;
    }
  }

  &__subtitle {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 19px;
    color: #9a9a9a;
    display: block;
    margin-bottom: 20px;
  }

  &__title {
    font-size: 23px;
    line-height: 34px;
    margin-bottom: 10px;
    @extend %oswald;
    @include line-climp(2);
  }

  &__title-link {
    transition: color 0.3s;
  }

  &__title-link:hover {
    color: $accent;
  }

  &__text {
    font-size: 16px;
    line-height: 19px;
    color: #9a9a9a;
    margin-bottom: 30px;
    @include line-climp(4);
  }
}

.author-name {
  display: flex;
  align-items: center;

  &__img {
    margin-right: 15px;
  }
}