.catalog {
  padding: 40px 0 95px;
}

.catalog-form {
  max-width: 638px;
  width: 100%;
  margin: 0px auto 55px;
  display: flex;
  text-align: center;
  display: flex;
  align-items: center;


  &__input {
    width: 387px;
    height: 55px;
    padding: 16px 10px 16px 30px;
    color: #9a9a9a;
    outline: transparent;
    margin-right: -4px;
    border: 1px solid #E5E5E5;
  }
  
  &__btn {
    min-width: 77px;
    height: 55px;
    border: 1px solid #e5e5e5;
    background-color: $accent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

}

.jq-selectbox__select {
  height: 55px;
  width: 175px;
  padding: 16px 30px 16px 30px;
  border: 1px solid #e5e5e5;
  border-right: transparent;
  background: transparent;
  box-shadow: none;
  color: #9a9a9a;
  text-shadow: none;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  line-height: 24px;
  border-radius: 0;
  outline: none;
  text-align: left;
  cursor: pointer;

  &:hover {
    background: transparent;
  }

  &:active {
    box-shadow: none;
  }
}

.jq-selectbox__trigger {
  border-left: none;
}

.jq-selectbox__trigger-arrow {
  width: 13px;
  height: 9px;
  border: none;
  position: absolute;
  background-image: url('../images/catalog/drop-down.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  right: 20px;
  top:25px;
  cursor: pointer;
}

.jq-selectbox li.selected {
  background-color: transparent;
  color: $accent;
}

.jq-selectbox li {
  min-height: 18px;
  padding: 5px 10px 6px;
  color: #9a9a9a;
}

.jq-selectbox__dropdown {
  border: 1px solid #e5e5e5;
  width: 175px;
  background-color: #E5E5E5;

  ul li {
    cursor: pointer;
  }

  ul li:hover {
    color: $accent;
  }
}


.catalog__articles {
  display: flex;
  height: 545px;
}

.catalog-article {
  position: relative;

  &__link {
    width: 100%;
    height: 100%;
    padding: 45px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    transition: transform 0.3s;

    &:hover .catalog-article__title{
      transform: translateX(12px)
    }

    &:hover .catalog-article__subtitle {
      transform: translateX(8px)
    }

    &:hover .catalog-article__price {
      transform: translateX(8px)
    }
  }

  &__content {
    padding: 0 0 55px 0;
    max-width: 390px;
  }

  &__subtitle {
    color: $accent;
    font-size: 21px;
    line-height: 25px;
    margin-bottom: 10px;
    text-transform: uppercase;
    transition: transform 0.5s;
    @include line-climp(1);
  }

  &__title {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 35px;
    line-height: 52px;
    text-transform: uppercase;
    transition: transform 0.3s ease-in-out;
    margin: 0 0 10px 0;
    max-width: 390px;
    @include line-climp(2);
  }

  &__price {
    font-size: 21px;
    line-height: 25px;
    color: #e5e5e5;
    font-weight: 300;
    transition: transform 1.2s;
    margin: 0 0 35px 0;
  }

  &__cost {
    text-transform: uppercase;
    color: $accent;
    font-size: 21px;
    line-height: 25px;
  }

  &__links {
    display: flex;
    height: 55px;
    position: absolute;
    left: 45px;
    bottom: 45px;
  }

  &__sublink {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
    font-size: 21px;
    line-height: 25px;
    min-width: 157px;
  }

  &__sublink:first-child {
    margin: 0 20px 0 0;
  }

  &__big {
    max-width: 675px;
    width: 100%;
    height: 545px;
    margin-right: 25px;
  }
}

.catalog-article__small:not(:last-child) {
  margin: 0 0 25px 0;
}

.catalog-article__small {
  width: 500px;
  height: 260px;
  position: relative;

  .catalog-article__link {
    padding: 35px 31px;
  }

  .catalog-article__sublink {
    position: absolute;
    bottom: 35px;
    left: 32px;
    padding: 12px 32px;
    line-height: 23px;
    font-size: 19px;
    min-width: 152px;
    height: 47px;
  }

  .catalog-article__content {
    max-width: 350px;
    padding: 0px 0 45px 0;
  }

  .catalog-article__title {
    font-size: 28px;
    line-height: 41px;
    max-width: 310px;
  }

  .catalog-article__text {
    font-size: 18px;
    line-height: 22px;
    color: #E5E5E5;
    margin-bottom: 25px;
    @include line-climp(2);
  }
}
