.catalog {
  padding-top: 204px;
} 

.catalog-form {
  max-width: 638px;
  width: 100%;
  margin: 0px auto 55px;
  display: flex;
  align-items: center;
  text-align: center;

  @include maxw($sm) {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  &__box {
    display: flex;

    @include maxw($md) {
      width: 100%;
      max-width: 100%;
    }

    @include maxw($sm) {
      margin-bottom: 20px;
    }
  }

  &__input {
    width: 387px;
    height: 55px;
    padding: 16px 10px 16px 30px;
    color: #9a9a9a;
    outline: transparent;
    margin-right: -4px;
    border: 1px solid #E5E5E5;

    @include maxw($md) {
      width: 100%;
    }

    @include maxw($md) {
      padding: 10px 10px 10px 15px;
    }
  }

  &__btn {
    margin-left: -1px;
    min-width: 77px;
    height: 55px;
    border: 1px solid #e5e5e5;
    background-color: $accent;
    @include flexc();
    cursor: pointer;
  }

  .jq-selectbox__select {
    height: 55px;
    width: 175px;
    padding: 16px 30px 16px 30px;
    border: 1px solid #e5e5e5;
    border-right: transparent;
    background: transparent;
    box-shadow: none;
    color: #9a9a9a;
    text-shadow: none;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    line-height: 24px;
    border-radius: 0;
    outline: none;
    text-align: left;
    cursor: pointer;

    @include maxw($sm) {
      border-right: 1px solid #e5e5e5;
    }

    @include maxw($md) {
      padding: 15px 30px 15px 15px;
    }
  
    &:hover {
      background: transparent;
    }
  
    &:active {
      box-shadow: none;
    }
  }
  
  .jq-selectbox__trigger {
    border-left: none;
  }
  
  .jq-selectbox__trigger-arrow {
    width: 13px;
    height: 9px;
    border: none;
    position: absolute;
    background-image: url('../images/index/catalog/drop-down.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    right: 20px;
    top:25px;
    cursor: pointer;
  }  
  
  .jq-selectbox li.selected {
    background-color: transparent;
    color: $accent;
  } 
  
  .jq-selectbox li {
    min-height: 18px;
    padding: 5px 10px 6px;
    color: #9a9a9a;
  }
  
  .jq-selectbox__dropdown {
    width: 175px;
    background-color: #eee;
  
    ul li {
      cursor: pointer;
      border-bottom: 1px solid #303030;
      padding: 5px 5px 5px 10px;
      font-size: 16px;
      line-height: 20px;
      text-align: left;
      color: #303030;
    }

    ul li:last-child {
      border-bottom: 1px solid transparent;
    }
  
    ul li:hover {
      color: $accent;
    }
  }
}

.catalog__articles {
  display: flex;

  @include maxw($xl) {
   flex-direction: column;
  }

  @include maxw($md) {
    display: block;
  }
}

.article {
  position: relative;

  &__link {
    width: 100%;
    height: 100%;
    padding: 45px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    transition: transform 0.3s ease-in-out;

    @include maxw($lg) {
      padding: 20px 20px 45px 45px;
    } 

    @include maxw($sm) {
      padding: 15px 10px 15px 25px;
      justify-content: start;
    }

    &:hover .article__title{
      transform: translateX(12px);
    }

    &:hover .article__subtitle {
      transform: translateX(8px)
    }

    &:hover .article__price {
      transform: translateX(8px)
    }

    @include maxw($sm) {
      &:hover .article__title,
      &:hover .article__price,
      &.article__subtitle {
        transform: none;
      }
    }
  }

  &__content {
    padding: 0 0 55px 0;
    max-width: 390px;

    @include maxw($sm) {
      padding: 0;
      max-width: 100%;
    }
  }

  &__subtitle {
    color: $accent;
    font-size: 21px;
    line-height: 25px;
    margin-bottom: 10px;
    text-transform: uppercase;
    transition: transform 0.5s ease-in-out;
    @include line-climp(1);

    @include maxw($xs) {
      font-size: 19px;
      line-height: 22px;
    }
  }

  &__title {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 35px;
    line-height: 52px;
    text-transform: uppercase;
    transition: color 0.5s, transform 0.3s ease-in-out;
    margin: 0 0 10px 0;
    @include line-climp(2);

    @include maxw($md) {
      font-size: 30px;
      line-height: 44px;
    }

    @include maxw($sm) {
      font-size: 26px;
      line-height: 40px;
    }

    @include maxw($xs) {
      font-size: 22px;
      line-height: 35px;
    }
  }

  &__price {
    font-size: 21px;
    line-height: 25px;
    color: #e5e5e5;
    font-weight: 300;
    transition: transform 1.2s ease-in-out;
    margin: 0 0 35px 0;

    @include maxw($sm) {
      margin: 0;
    }
  }

  &__cost {
    text-transform: uppercase;
    color: $accent;
    font-size: 21px;
    line-height: 25px;
  }

  &__links {
    display: flex;
    height: 55px;
    position: absolute;
    left: 45px;
    bottom: 45px;

    @include maxw($sm) {
      flex-direction: column;
      left: 25px;
      bottom: 100px;
    }
  }

  &__sublink {
    @include flexc();
    padding: 15px 30px;
    font-size: 21px;
    line-height: 25px;
    min-width: 157px;
  }

  &__sublink:first-child {
    margin: 0 20px 0 0;

    @include maxw($sm) {
      margin: 0 0 15px 0;
    }
  } 
}

.article__big {
  max-width: 675px;
  width: 100%;
  height: 545px;
  margin-right: 25px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;

  @include maxw($xl) {
    max-width: 100%;
    width: 100%;
    min-height: 350px;
    height: auto;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .browse {
    padding: 15px 44px 15px 43px;
  }
} 

.catalog__articles-mini {
  @include maxw($xl) {
    display: flex;
    margin: 0 -10px;
  }

  @include maxw($md) {
    display: block;
    margin: 0;
  }
} 

.article__small:not(:last-child) {
  margin: 0 0 26px 0;

  @include maxw($md) {
    margin: 0 0 20px 0;
  }
} 

.article__small {
  width: 500px;
  height: 260px;
  position: relative;

  @include maxw($xl) {
    width: 50%;
    padding: 0 10px;
  }

  @include maxw($md) {
    max-width: 100%;
    width: 100%;
    height: 180px;
    padding: 0;
  }

  @include maxw($xs) {
    height: auto;
  }

  .article__link {
    padding: 35px 31px;

    @include maxw($lg) {
      padding: 15px 22px 25px 22px;
      display: block;
    }

    &:hover .article__title{
      transform: none;
      color: rgb(153, 153, 58);
    }

    @include maxw($sm) {
      &:hover .article__title {
       color: #fff;
      }
    }
  }

  .article__sublink {
    position: absolute;
    bottom: 35px;
    left: 32px;
    padding: 12px 32px;
    line-height: 21px;
    font-size: 19px;
    min-width: 152px;

    @include maxw($md) {
      bottom: 15px;
    }
  }

  .article__content {
    max-width: 367px;
    padding: 0px 0 45px 0;

    @include maxw($md) {
      max-width: 100%;
    }
  }

  .article__title {
    font-size: 28px;
    line-height: 41px;

    @include maxw($lg) {
      font-size: 24px;
      line-height: 35px;
    }

    @include maxw($xs) {
      font-size: 22px;
      line-height: 30px;
    }
  } 

  .article__text {
    font-size: 18px;
    line-height: 22px;
    color: #E5E5E5;
    margin-bottom: 25px;
    @include line-climp(2);
  }
}

