.deal {
  padding-bottom: 152px;

  &__title {
    margin-bottom: 70px;
  }
}
 

.deal-slider {
  margin: 0 8px;
  .slick-dots {
    display: flex;
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);

    li {
      line-height: 0;
      margin: 0 8px;
    }

    button {
      outline: transparent;
      border:  1px solid #9A9A9A;
      background-color: transparent;
      padding: 0;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      font-size: 0;
      outline: none;

      &:focus {
        background-color: $accent;
      }

      &:hover {
        background-color: $accent;
      }

      &:active {
        background-color: $accent;
        border: 1px solid #303030;
      }
    }
  }

  .slick-active button{
    background-color: $accent;
    border: 1px solid #303030;
  }
}