.deal {
  padding: 95px 0 152px;

  @include maxw($xl) {
    padding: 50px 0 152px;
  }

  &__title {
    margin-bottom: 70px;
  }
}

.deal-slider {
  max-width: 100%;
  width: 100%;

  @include maxw($xl) {
    margin: 0 auto;
  }

  @include maxw($sm) {
    max-width: 280px;
  }

  .product-article {
    @include maxw($xs) {
      width: 260px;
      height: 365px;
    }
  }

  .slick-dots {
    display: flex;
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);

    li {
      line-height: 0;
      margin: 0 8px;
    }

    button {
      outline: transparent;
      border:  1px solid #9A9A9A;
      background-color: transparent;
      padding: 0;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      font-size: 0;
      outline: none;

      &:focus {
        background-color: $accent;
      } 

      &:hover {
        background-color: $accent;
      }

      &:active {
        background-color: $accent;
        border: 1px solid #303030;
      }
    }
  }

  .slick-active button{
    background-color: $accent;
    border: 1px solid #303030;
  }
}