.products {
  padding-bottom: 95px;
}

.products-tabs {
 
  &__buttons {
    @include flexc();
    margin-bottom: 55px;

    @include maxw($md) {
      display: block;
    }  
  }

  &__btn {
    margin: 0 35px;
    transition: background-color 0.3s, opacity 0.1s;

    @include maxw($lg) {
      margin: 0 15px;
    }

    @include maxw($md) {
      margin: 20px 0; 
      display: block;
    }

    &:hover {
      background-color: $accent;
      opacity: 0.5;
    }
  }

  &__item {
    display: none;

    &.products-tabs__item--active {
      display: block;
    }
  }

  &__item-inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px 20px; 

    @include maxw($xl) {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
    } 

    @include maxw($lg) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include maxw($md) {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 20px 0;
    }

    .product-article {
      @include maxw($md) {
        width: 100%;
      }
    }
  }

  &__btn--active {
    background-color: $accent;
  }
}

