@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

html,
body {
  height: 100%
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  white-space: nowrap;
  border: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

// font-family: 'Oswald', sans-serif;
// font-weight: 400;
 
.main {
  flex-grow: 1;
}
 
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  font-size: 35px;
  line-height: 52px;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  text-align: center;
  color: #303030;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    background-image:url('../images/title-line.svg');
    background-repeat: no-repeat;
    background-size: cover;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 111px;
    height: 2px;
  }
}
