@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

html,
body {
  height: 100%
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  white-space: nowrap;
  border: 0;
}  

body {
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

// font-family: 'Oswald', sans-serif;
// font-weight: 400;
 
.main {
  flex-grow: 1;
}
 
.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  font-size: 35px;
  line-height: 52px;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  text-align: center;
  color: #303030;
  position: relative;  

  &::before {
    content: '';
    position: absolute;
    background-image:url('../images/title-line.svg');
    background-repeat: no-repeat;
    background-size: cover;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 111px;
    height: 2px;
    z-index: 99;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 50px 0 95px;

  &__list {
    display: flex;
    align-items: center;
  }

  &__arrow {
    border: 1px solid #E5E5E5;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &__prev {
    margin-right: 10px;
  } 

  // &__next {
  //   margin-right: 10px;
  // }

  &__item {
    margin-right: 10px;
    color: #9A9A9A;
  }

  &__link {
    width: 40px;
    height: 40px;
    border: 1px solid #E5E5E5;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  &__link--active {
    background-color: $accent;
    color: #fff;
  }
}

.user-icon,
.basket-icon {
  fill: #e5e5e5;
  transition: fill 0.3s, opacity 0.1s;
  outline: none;
}
