@import 'fonts';
@import 'vars';
@import 'media'; 
@import 'mixin';
@import 'reset';
@import 'libs';
@import 'global';
  
// general
@import 'general/header';
@import 'general/footer';
@import 'general/product-card';
@import 'links/link';
@import 'buttons/button';

// index

@import 'index/catalog';
@import 'index/deal';
@import 'index/articles';
@import 'index/products';
@import 'index/news';
@import 'index/instagram';