@import 'fonts';
@import 'vars';
@import 'media'; 
@import 'mixin';
@import 'reset';
@import 'libs';
@import 'global';
  
// general
@import 'general/header';
@import 'general/footer';
@import 'general/product-card';
@import 'general/product-card-list';
@import 'links/link';
@import 'buttons/button';

// index

@import 'index/catalog';
@import 'index/deal';
@import 'index/articles';
@import 'index/products';
@import 'index/news';
@import 'index/instagram';

//authentication

@import 'authentication/authentication';

//breadcrumbs

@import 'breadcrumbs/breadcrumbs';

//error-404
 
@import 'error-404/error-404';

//contact
@import 'contact/contact';

//about
@import 'about/about';

//blog
@import 'blog/blog';

//blog-one
@import 'blog-one/blog-one';

//shop
@import 'shop/shop';