.footer {
  background-color: #303030;
  color: #e5e5e5;

  &__top {
    padding: 95px 0 50px;
    display: flex;
    border-bottom: 1px solid #C4C4C4;
    min-height: 300px;

    @include maxw($xl) {
      flex-wrap: wrap;
    } 

    @include maxw($sm) {
      padding-top: 40px;
    }
  }

  &__logo {
    margin-bottom: 37px;
    display: inline-block;

    @include maxw($xl) {
      margin-bottom: 25px;
    }
  }

  &__link {
    display: block;
    margin-bottom: 20px;
    transition: color 0.3s, opacity 0.1s;

    &:focus {
      color: $accent;
    }

    &:hover {
      color: $accent;
    }

    &:active {
      opacity: 0.5;
    }
  }
 
  &__contacts {
    max-width: 385px;
    margin-right: 50px;

    @include maxw($xl) {
      display: block;
      margin: 0 0 40px 0;
      width: 100%;
      max-width: 100%;
    }
  }

  &__address {
    padding-left: 35px;

    @include maxw($xs) {
      font-size: 18px;
      line-height: 22px;
    }
  }

  &__address-link,
  &__tel,
  &__mail,
  &__work-time {
    position: relative;
  }

  &__address-link::before,
  &__tel::before,
  &__mail::before,
  &__work-time::before {
    content: '';
    position: absolute;
    left: -35px;
    top: 0;
    width: 22px;
    height: 30px;
  }
  &__address-link::before {
    background-image:url('../images/footer/footer-address.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }
  &__tel::before {
    background-image:url('../images/footer/footer-phone.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }
  &__mail::before {
    background-image:url('../images/footer/footer-mail.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }
  &__work-time::before {
    background-image:url('../images/footer/footer-time.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__title {
    font-size: 24px;
    line-height: 36px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    margin-bottom: 55px;
    padding-top: 12px;

    @include maxw($xl) {
      margin-bottom: 25px;
    }

    @include maxw($sm) {
      padding-top: 0;
    }
  }

  &__menu,
  &__info {
    width: 240px;
    min-height: 300px;
    margin-right: 20px;

    @include maxw($sm) {
      min-height: auto;
      margin-right: 0;
      margin-bottom: 30px;
    }
  }

  &__items {
   display: flex;
   flex-direction: column;

    @include maxw($xs) {
      font-size: 18px;
      line-height: 22px;
    }
  }
 
  &__newsletter {
    max-width: 270px;
    width: 100%;

    @include maxw($xl) {
      max-width: 100%;
      margin-top: 30px;
    }

    @include maxw($xs) {
      margin-top: 0;
    }
  }

  &__newsletter-text {
    margin-bottom: 25px;

    @include maxw($xs) {
      font-size: 18px;
      line-height: 22px;
    }
  }

  &__input {
    max-width: 248px;
    width: 100%;
    height: 47px;
    padding: 11px 15px;
    background-color: #fff;
    outline: transparent;
    border: transparent;
    margin-bottom: 15px;
  }

  &__input::placeholder {
    color: #c4c4c4;
    font-size: 21px;
    line-height: 25px;
  }

  &__btn {
    border: none;
    border-bottom: 1px solid $accent;
    outline: transparent;
    color: $accent;
    background-color: transparent;
    padding: 0;
    font-size: 21px;
    line-height: 25px;
    margin-bottom: 22px;
  } 

  &__social-icons {
    display: flex;
    align-items: center;
  }

  &__social-icon {
    margin-right: 14px;
    line-height: 0;
  }

  &__social-link

  &__social-link:focus {
    svg {
      fill: $accent;
    }
  }

  &__social-link:hover {
    svg {
      fill: $accent;
    }
  }

  &__social-link:active {
    svg {
      opacity: 0.5;
    }
  }
 
  &__bottom {
    padding: 40px 0 50px;
    text-align: center;
  }
}
