.header {
  background-color: #303030;

  &__inner {
    padding: 40px 0;
    display: flex;
    align-items: center;
  }
  
  .menu {
    margin: 0 auto;
    display: flex;
    align-items: center;
  
    &__list {
      display: flex;
    }
  
    &__item:not(:last-child) {
      margin-right: 102px;
    }
   
    &__link {
      text-transform: uppercase;
      font-size: 21px;
      line-height: 25px;
      color: #e5e5e5;
      font-weight: 300;
      outline: none;
      transition: opacity 0.1s, color 0.3s;
    }
  
    &__link:focus {
      color: $accent;
    }
  
    &__link:hover {
      color: $accent;
    }
  
    &__link:active {
      opacity: 0.5;
    }
  }
  
  .user-nav {

    &__link {
      path {
        transition: fill 0.3s, opacity 0.1s;
      }
    }

    &__link:not(:last-child) {
      margin-right: 50px;
    }
  
    &__link:nth-child(2) {
      position: relative;
    }
  
    &__num {
      position: absolute;
      background-color: #D79468;
      border-radius: 50%;
      padding: 2px 6px 4px 6px;
      display: flex;
      justify-content: center;
      align-items: center;
      right: -4px;
      bottom: 0;
      line-height: 14px;
      font-size: 12px;
      letter-spacing: 0.05em;
      color: #E5E5E5;
    }
  }

}
.user-nav__link:hover {
  &:focus path{
    fill: $accent;
  }

  &:hover path{
    fill: $accent;
  }

  &:active {
    opacity: 0.5;
  }
}