.header {
  background-color: #303030;
  position: relative;
  z-index: 11;
 
  &__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: #303030;
    transition: background-color 0.3s;
  } 

  &__inner {
    padding: 40px 0;
    display: flex;
    align-items: center;

    @include maxw($lg) {
      padding: 25px 0;
    }
  }

  &--scroll {
    background: rgba(#303030, 0.9);
    backdrop-filter: blur(8px);
  }

  .header--scroll .header__inner {
    padding: 20px 0;
    transition: all 0.3s;
  }

  .header--scroll .menu__list {
    top: 114px;

    @include maxw($xs) {
      top: 83px;
    }
  }
  
  .menu {
    margin: 0 auto;

    @include maxw($md) {
      order: 1;
      margin-right: 0;
    }
  
    &__list {
      display: flex; 

      @include maxw($md) {
        position: absolute;
        top: 122px;
        left: 0;
        width: 30%;
        min-width: 120px;
        height: 100vh;
        flex-direction: column;
        padding: 40px 15px;
        overflow: auto;
        background: rgba(#303030, 0.8);
        backdrop-filter: blur(5px);
        transform: translateX(-200%);
        transition: transform 0.3s;
        z-index: 5;
      }

      @include maxw($xs) {
        top: 93px;
      }

      &--active {
        transform: translateX(0%);
        transition: transform 0.3s;
      }
    }
   
    &__item:not(:last-child) {
      margin-right: 102px;

      @include maxw($lg) {
        margin-right: 70px;
      }

      @include maxw($md) {
        margin-right: 0;
      }
    } 

    &__item {
      @include maxw($md) {
        margin: 15px 0;
        padding-left: 10px;
      }
    }
   
    &__link {
      text-transform: uppercase;
      font-size: 21px;
      line-height: 25px;
      color: #e5e5e5;
      font-weight: 300;
      outline: none;
      transition: opacity 0.1s, color 0.3s;
    }
  
    &__link:focus {
      color: $accent;
    }
  
    &__link:hover {
      color: $accent;
    }
  
    &__link:active {
     opacity: 0.5;
    }

    &__btn {
      display: none;

      @include maxw($md) {
        width: 30px;
        height: 25px;
        padding: 0;
        background-color: transparent;
        border: transparent;
        outline: none;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        order: 1;
        cursor: pointer;
      }

      span {
        width: 100%;
        height: 3px;
        position: absolute;
        left: 0;
        top: 11px;
        background-color: #e5e5e5;
      }

      &::before,
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #e5e5e5;
        left: 0;
      }

      &::before {
        top: 0;
      }

      &::after {
        bottom: 0;
      }
    }
  }

  
  .user-nav {

    @include maxw($md) {
      margin-left: auto;
      margin-right: 10px;
    }

    &__link {
      outline: none;

      &:focus {
        svg {
          fill: $accent;
        }
      }  

      &:hover {
        svg {
          fill: $accent;
        }
      }

      &:active {
        svg {
          opacity: 0.5;
        }
      }
    }

    &__link:not(:last-child) {
      margin-right: 50px;

      @include maxw($lg) {
        margin-right: 20px;
      }
    }
  
    &__link:nth-child(2) {
      position: relative;
    } 
  
    &__num {
      position: absolute;
      background-color: #D79468;
      border-radius: 50%;
      padding: 2px 6px 4px 6px;
      display: flex;
      justify-content: center;
      align-items: center;
      right: -4px;
      bottom: 0;
      line-height: 14px;
      font-size: 12px;
      letter-spacing: 0.05em;
      color: #E5E5E5;
    }
  }
}
