.product-article {
  position: relative;
  overflow: hidden;
  transition: transform 0.5s, border 0.5s, box-shadow 0.6s;
  width: 275px;
  height: 385px;
  border: 1px solid #e5e5e5;

  &:hover .product-card__user {
    transform: translateX(-15px);
  }

  &:hover {
    border: 1px solid $accent;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15);
  } 
} 

.product-card {
  display: block;
  width: 100%;
  height: 100%;
  padding: 30px 10px;
  position: relative;

  &--new::before {
    @extend %product-card--new;
  }
  
  &__wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }

  &__box {
    height: 170px;
    width: 100%;
    margin-bottom: 29px;
    position: relative;
    z-index: -1;
  }

  &__img {
    object-fit: contain;
    height: 100%;
    width: 100%;
  }

  &__user {
    position: absolute;
    top: 50px;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transform: translateX(100px);
    transition: transform 0.5s;
    width: 42px;
    height: 135px;
  } 

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #303030;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15);
    margin-bottom: 5px; 

    &:focus { 
      svg {
        fill: $accent;
      }
    }

    &:hover {
      svg {
        fill: $accent;
      }
    }

    &:hover {
      svg {
        fill: $accent;
      }
    }
  } 

  &__link:last-child {
    margin-bottom: 0;
  }

  &__content {
    margin-bottom: auto;
    text-align: center;
  }

  &__title {
    font-size: 19px;
    line-height: 28px;
    text-align: center;
    max-width: 220px;
    margin: 0 auto 12px;
    @extend %oswald;
    @include line-climp(2);
  }

  &__price {
    font-size: 19px;
    line-height: 23px;
  }
  
  &__price-old {
    color: #9a9a9a;
    text-decoration: line-through;
    margin-right: 7px;
  }

  &__price-new {
    color: #D79468;
  }
}

.rating {
  margin: 0 auto 8px;
  padding: 0;
  z-index: 0;
  
  .jq-ry-normal-group svg {
    fill:transparent;
    stroke:#D79468;
    stroke-width:20;
  }

  .jq-ry-rated-group svg {
    fill:#D79468;
    stroke:#D79468;
    stroke-width:20;
  }
}