.product-article--list {
  max-width: 100%;
  width: 100%;
  height: 350px;
  border: 1px solid #E5E5E5;
  display: none;
  margin-bottom: 30px;

  .product-list {
    padding: 35px 10px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;

    &--new::before {
      content: 'NEW';
      position: absolute;
      top: 12px;
      left: 14px;
      background-color: $accent;
      border-radius: 50%;
      border: transparent;
      font-family: 'Oswald', sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #fff;
      text-align: center;
      padding: 16px;
    }
  

    &__box {
      width: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 20px;
    }

    &__img-link {
      display: block;
      width: 240px;
      height: 260px;
    }

    &__img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    &__content {
      max-width: 450px;
      width: 100%;
    }

    &__title {
      font-family: 'Oswald', sans-serif;
      font-weight: 500;
      font-size: 22px;
      line-height: 33px;
      color: #303030;
      margin-bottom: 10px;
      max-width: 238px;
    }

    .rating {
      margin: 0 0 30px;
    }

    &__items {
      display: flex;
      flex-direction: column;
    }

    &__item {
      margin-bottom: 10px;
      font-size: 15px;
      line-height: 18px;
      color: #9a9a9a;

      span {
        color: #303030;
      }
    }

    &__info {
      width: 350px;
      padding-left: 32px;
      border-left: 1px solid #E5E5E5;
    }

    &__price {
      display: block;
      font-size: 28px;
      line-height: 34px;
      color: #D79468;
      margin-bottom: 20px;
    }

    &__delivery {
     display: flex;
     align-items: center;
     padding-bottom: 25px;
     margin-bottom: 83px;
     position: relative;
    }

    &__delivery-img {
      margin-right: 10px;
    }

    &__delivery::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -10px;
      width: 50px;
      height: 1px;
      background-image: url('../images/product-list/bottom-line.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }

    &__btn {
      font-size: 18px;
      line-height: 22px;
      padding: 12px 32px;
      font-weight: 400;
    }

    &__btn:hover {
      background-color: $accent;
    }
  }



  
}

.product-article--list:last-child {
  margin-bottom: 0;
}

