.shop-one {

  &__inner {
    display: flex;
    margin-bottom: 95px;

    @include maxw($lg) {
      flex-direction: column;
    }
  }

  &__slider-item {
    width: 650px;
    margin-right: 85px;
    overflow: hidden;

    @include maxw($lg) {
     margin: 0 auto;
     max-width: 100%;
    }
  }

  &__content {
    width: 470px;
    font-size: 18px;
    line-height: 22px;
    color: #9A9A9A;

    @include maxw($lg) {
      width: 100%;
    }
  }

  &__title {
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
    line-height: 52px;
    color: #303030;
    text-transform: uppercase;
    font-weight: 400;
    max-width: 380px;
    margin-bottom: 10px;

    @include maxw($xs) {
      font-size: 28px;
      line-height: 45px;
    }
  }

  &__rating {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .rating {
    display: inline-block;
    margin: 0 10px 0 0;
    padding: 0;
  }

  .rating-num {
    display: inline-block;
  }

  &__availability {
    margin-bottom: 25px;
  }

  &__stock {
    color: $accent;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    padding-left: 5px;
  }

  &__price {
    font-size: 35px;
    line-height: 42px;
    color: #303030;
  }

  ul.shop-one__items {
    list-style: disc;
    padding: 25px 0 15px 25px;
  }

  &__item {
    margin-bottom: 10px;
    position: relative;
  }

  .product-filter__color {
    margin-bottom: 35px;
  }

  .wishlist-btn {
    background-color: transparent;
    border: none;
    font-size: 18px;
    line-height: 22px;
    color: #9a9a9a;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;

    &:hover {
      color: $accent;
      svg {
        fill: $accent;
      }
    } 
  }

  .whislist-add {
    padding-left: 10px;
    display: inline-flex;
  }

  &__btn {
    padding: 11px 35px;
    font-size: 19px;
    line-height: 23px;
    &:hover {
      border: 1px solid $accent;
    }
  }

  .filter-color__checkbox  {
    width: 30px;
    height: 30px;
  }

  .filter-color__checkbox--accent {
    background-color: $accent;
  }

  .filter-color__checkbox--grey {
    background-color: #9A9A9A;
  }

  .filter-color__checkbox--black {
    background-color: #303030;
  }

  &__input {
    margin-right: 20px;
  }

  .jq-number__field {
    width: 90px;
    border: 1px solid #e5e5e5;
  }

  .jq-number__field input {
    width: 100%;
    height: 47px;
    border: none;
    outline: none;
    font-family: 'Lato', sans-serif;
    font-size: 19px;
    line-height: 23px;
    color: #303030;
    text-align: center;
  }

  .shop-one .jq-number__field {
    width: 90px;
  }

  .jq-number {
    padding: 0;
    position: relative;
  }

  .jq-number__spin {
    position: absolute;
    cursor: pointer;
    width: 12px;
    height: 12px;
    top: 50%;
    transform: translateY(-50%);
  }

  .jq-number__spin.minus {
    left: 13px;
  }

  .jq-number__spin.plus {
    right: 13px;
  }

  .jq-number__spin::after {
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    width: 12px;
    height: 2px;
    background-color: #9a9a9a;
  }

  .jq-number__spin.plus::before {
    content: '';
    position: absolute;
    top: 0;
    left: 5px;
    width: 2px;
    height: 12px;
    background-color: #9a9a9a;
  }

  &__tabs-buttons {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 30px;

    @include maxw($xs) {
      flex-direction: column;
      border-bottom: none;
    }
  }

  &__tabs {
    font-size: 22px;
    line-height: 26px;
    color: #9A9A9A;
  }

  &__tabs-btn {
    margin: 0 40px;
    padding-bottom: 20px;

    @include maxw($md) {
      margin: 0 20px;
    }

    @include maxw($xs) {
      margin: 10px 0;
      padding-bottom: 0;
    }
  }

  &__tabs-btn--active {
    border-bottom: 2px solid #D79468;
    color: $accent;

    @include maxw($xs) {
      border-bottom: none;
      background-color: rgba(#D79468, 0.2);
    }
  }

  &__tabs-item  {
    display: none;

    &.shop-one__tabs-item--active {
      display: block;
    }
  }

  &__tabs-subtitle {
    margin-bottom: 30px;
    display: block;
  }

  &__text {
    @include maxw($xs){
      font-size: 18px;
      line-height: 20px;
    }
  }


  ul.shop-one__tabs-list {
    list-style: disc;
    padding-left: 30px;
    margin-bottom: 30px;
  }

  ul.shop-one__tabs-list--adaptive {
    margin-bottom: 0 ;
  }

  &__tabs-descr {
    margin-bottom: 10px;
  }

  &__tabs-descr:last-child {
    margin-bottom: 0;
  }
  
  &__review {
    display: flex;
    align-items: center;
    padding: 30px 0;

    @include maxw($sm){
      flex-direction: column;
      align-items: start;
      padding: 20px 0;
    }
  }

  &__review-name {
    width: 25%;

    @include maxw($sm){
      width: 100%;
    }

    .rating {
      padding: 0;
      margin: 0;

      @include maxw($sm){
        margin-bottom: 10px;
      }
    }
  }   

  .review-name {
    display: block;
    margin-bottom: 10px;
    font-size: 22px;
  }

  &__review-text {
    width: 70%;

    @include maxw($sm){
      width: 100%;
    }
  } 

  &__more {
    padding: 95px 0;

    @include maxw($sm) {
      padding: 40px 0;
    }
  }

  &__more-title {
    margin-bottom: 65px;
  }

  &__more-items {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    @include maxw($lg) {
      flex-wrap: wrap;
    }

    @include maxw($sm) {
      display: block;
     
    }

    .product-article {
      margin-bottom: 20px;
      margin: 20px;

      @include maxw($sm) {
        width: 100%;;
        margin: 0 0 20px;
      }
    }
  }
}

.swiper-big {
  max-width: 645px;
  width: 100%;
  height: 645px;
  margin-bottom: 35px;
  padding: 10px;
  border: 1px solid #e5e5e5;
  overflow: hidden;

  @include maxw($xl) {
    height: 500px;
  }

  @include maxw($xs) {
    height: 350px;
  }

  &__slide {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__image {
    padding: 20px;

    @include maxw($lg) {
      padding: 0;
      width: 50%;
      height: 100%;
    }
  }
}

.swiper-thumbs{
  max-width: 650px;
  width: 100%;
  height: 221px;

  @include maxw($xl) {
    height: 150px;
  }

  @include maxw($lg) {
   display: none;
  }

  &__image {
    max-width: 182px;
    width: 100%;
    height: 182px;
    border: 1px solid #e5e5e5;
    cursor: pointer;

    @include maxw($xl) {
      height: 140px;
      width: 150px;
    }
   
    .shop-one__img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
