.shop-one {

  &__inner {
    display: flex;
    margin-bottom: 95px;
  }

  &__slider-item {
    width: 650px;
    margin-right: 85px;
    overflow: hidden;
  }

  &__content {
    width: 470px;
    font-size: 18px;
    line-height: 22px;
    color: #9A9A9A;
  }

  &__title {
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
    line-height: 52px;
    color: #303030;
    text-transform: uppercase;
    font-weight: 400;
    max-width: 380px;
    margin-bottom: 10px;
  }

  &__rating {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .rating {
    display: inline-block;
    margin: 0 10px 0 0;
    padding: 0;
  }

  .rating-num {
    display: inline-block;
  }

  &__availability {
    margin-bottom: 25px;
  }

  &__stock {
    color: $accent;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    padding-left: 5px;
  }

  &__price {
    font-size: 35px;
    line-height: 42px;
    color: #303030;
  }

  ul.shop-one__items {
    list-style: disc;
    padding: 25px 0 15px 25px;
  }

  &__item {
    margin-bottom: 10px;
    position: relative;
  }

  .product-filter__color {
    margin-bottom: 35px;
  }

  .wishlist-btn {
    background-color: transparent;
    border: none;
    font-size: 18px;
    line-height: 22px;
    color: #9a9a9a;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;

    &:hover {
      color: $accent;
      svg path {
        fill: $accent;
      }
    }
  }

  .whislist-add {
    padding-left: 10px;
    display: inline-flex;
  }

  &__btn {
    padding: 11px 35px;
    font-size: 19px;
    line-height: 23px;
    &:hover {
      border: 1px solid $accent;
    }
  }

  .filter-color__checkbox  {
    width: 30px;
    height: 30px;
  }

  .filter-color__checkbox--accent {
    background-color: $accent;
  }

  .filter-color__checkbox--grey {
    background-color: #9A9A9A;
  }

  .filter-color__checkbox--black {
    background-color: #303030;
  }

  &__input {
    margin-right: 20px;
  }

  .jq-number__field {
    width: 90px;
    border: 1px solid #e5e5e5;
  }
  .jq-number__field input {
    width: 100%;
    height: 47px;
    border: none;
    outline: none;
    font-family: 'Lato', sans-serif;
    font-size: 19px;
    line-height: 23px;
    color: #303030;
    text-align: center;
  }
  .shop-one .jq-number__field {
    width: 90px;
  }
  .jq-number {
    padding: 0;
    position: relative;
  }

  .jq-number__spin {
    position: absolute;
    cursor: pointer;
    width: 12px;
    height: 12px;
    top: 50%;
    transform: translateY(-50%);
  }

  .jq-number__spin.minus {
    left: 13px;
  }
  .jq-number__spin.plus {
    right: 13px;
  }

  .jq-number__spin::after {
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    width: 12px;
    height: 2px;
    background-color: #9a9a9a;
  }

  .jq-number__spin.plus::before {
    content: '';
    position: absolute;
    top: 0;
    left: 5px;
    width: 2px;
    height: 12px;
    background-color: #9a9a9a;
  }

  &__tabs-buttons {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 30px;
  }

  &__tabs {
    font-size: 22px;
    line-height: 26px;
    color: #9A9A9A;
  }

  &__tabs-btn {
    margin: 0 40px;
    padding-bottom: 20px;
  }

  &__tabs-btn--active {
    border-bottom: 2px solid #D79468;
    color: $accent;
  }

  &__tabs-item  {
    display: none;

    &.shop-one__tabs-item--active {
      display: block;
    }
  }

  &__tabs-subtitle {
    margin-bottom: 30px;
    display: block;
  }


  ul.shop-one__tabs-list {
    list-style: disc;
    padding-left: 30px;
    margin-bottom: 30px;
  }

  ul.shop-one__tabs-list--adaptive {
    margin-bottom: 0 ;
  }

  &__tabs-descr {
    margin-bottom: 10px;
  }

  &__tabs-descr:last-child {
    margin-bottom: 0;
  }
  
  &__review {
    display: flex;
    align-items: center;
    padding: 30px 0;
  }

  &__review-name {
    width: 25%;

    .rating {
      padding: 0;
      margin: 0;
    }
  }  

  .review-name {
    display: block;
    margin-bottom: 10px;
  }

  &__review-text {
    width: 70%;
  }

  &__more {
    padding: 95px 0;
  }

  &__more-title {
    margin-bottom: 65px;
  }

  &__more-items {
    display: flex;
    justify-content: space-evenly;
  }

}



.swiper-big {
  width: 645px;
  height: 645px;
  margin-bottom: 35px;
  padding: 10px;
  border: 1px solid #e5e5e5;
  overflow: hidden;

  &__slide {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__image {
    padding: 20px;
  }
}

.swiper-thumbs{
  width: 650px;
  height: 221px;

  &__image {
    max-width: 182px;
    width: 100%;
    height: 182px;
    border: 1px solid #e5e5e5;
    cursor: pointer;
   
    .shop-one__img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }


}

// .product-slide {

//   &__content {
//     width: 650px;
//     margin-bottom: 25px;
//   }

//   &__big {
//     width: 650px;
//     height: 650px;
//     border: 1.3px solid #E5E5E5;
//     display: none;

//     &.product-slide__big--active {
//       display: block;
//     }
//   }

//   &__big-item {
//     width: 650px;
//     height: 650px;

//     img {
//       width: 100%;
//       height: 100%;
//       padding: 20px;
//       object-fit: cover;
//     }
//   }

//   &__items {
//     display: flex;
//   }
 
//   &__item {
//     display: inline-block;
//     width: 221px;
//     height: 221px;
//     border: 1.3px solid #E5E5E5;
//     margin-right: 25px;
//     img {
//       width: 100%;
//       height: 100%;
//       object-fit: cover;
//     }
//   }

//   &__item--active {
//     border: 1.3px solid $accent;
//   }

// }