.link {
  padding: 12px 32px;
  text-align: center;
  font-size: 19px;
  color: #fff;
  background-color: $accent;
  outline: transparent;
  border: 1px solid transparent;
  transition: color 0.3s, background-color 0.3s, opacity 0.1s, border 0.3s;

  &:focus {
    background-color: #fff;
    color: $accent;
    border: 1px solid $accent;
  }

  &:hover {
    background-color: #fff;
    color: $accent;
  }

  &:active {
    opacity: 0.5;
  }
}