.button {
  font-family: 'Lato', sans-serif;
  font-size: 23px;
  line-height: 26px;
  text-align: center;
  font-weight: 500;
  color: #fff;
  padding: 14px 35px 13px;
  background-color: #404040;
  border: 1px solid transparent;
  outline: transparent;
} 