.contacts {
  position: relative;

  &__title {
    font-size: 28px;
    line-height: 41px;
    margin-bottom: 45px;
    @extend %oswald;
    text-transform: uppercase;
  } 

  &__emptybg {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #E5E5E5;
    height: 485px;
    z-index: -1;

    @include maxw($sm) {
      display: none;
    }
  } 

  &__inner {
    background-color: #fff;
    box-shadow: 2px 2px 17px rgba(0, 0, 0, 0.2); 
    display: flex;
    margin-top: 145px;
    margin-bottom: 95px;
 
    @include maxw($xxl) {
      display: block;
    }

    @include maxw($sm) {
      margin-top: 50px;
      margin-bottom: 20px;
      box-shadow: none;
    }
  }

  &__subtitle,
  &__subtitle--white {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 35px;
    @extend %oswald;
    text-transform: uppercase;
  }

  &__subtitle--white {
    margin-bottom: 40px;
    color: #fff;
  }
  
  &__form {
    padding: 60px;
    max-width: 755px;
    width: 100%;

    @include maxw($sm) {
      padding: 45px 0px;
    }
  }

  &__info {
    background-color: #303030;
    padding: 60px;
    max-width: 444px;
    width: 100%;

    @include maxw($md) {
      padding: 25px;
      max-width: 100%;
      width: 100%;
    }
  }

  &__info-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__label {
    font-size: 22px;
    line-height: 26px;
    color: #9a9a9a;
    margin-bottom: 30px;

    @include maxw($sm) {
      display: block;
      width: 100%;
    }
  }

  &__input {
    min-width: 285px;
    width: 100%;
    height: 50px;
    padding: 5px 10px;
    border: 1px solid #E5E5E5;

    @include maxw($sm) {
      width: 100%;
    }
  }

  &__btn {
    padding: 10px 30px;
    height: 50px;
    width: 211px;

    &:hover {
      background-color: #fff;
      border: 1px solid $accent;
      color: $accent;
    }

    @include maxw($xs) {
      width: 100%;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
  }

  &__item {
    padding-left: 64px;
    margin-bottom: 50px;
    position: relative;

    @include maxw($md) {
      padding-left: 0;
      margin-bottom: 20px;
    }
  }

  &__item:nth-child(2) {
    margin-bottom: 60px;

    @include maxw($md) {
     margin-bottom: 20px;
    }
  }

  &__item::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    left: 0;
    top: -5px;

    @include maxw($md) {
     display: none;
    }
  }

  &__item:nth-child(1)::before {
    background-image: url('../images/contacts/contacts-map.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__item:nth-child(2)::before {
    background-image: url('../images/contacts/contacts-phone.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__item:nth-child(3)::before {
    background-image: url('../images/contacts/contacts-mail.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__link {
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    font-weight: 300;
    opacity: 0.8;
    transition: color 0.3s, opacity 0.1s;

    @include maxw($xs) {
      font-size: 18px;
      line-height: 22px;
    }

    &:focus {
      color: $accent;
    }
   
    &:hover {
      color: $accent;
    }
   
    &:active {
      opacity: 0.5;
    }
  }

  &__social-icons {
    display: flex;
    align-items: center;
  }

  &__social-icon {
    margin-right: 25px;
  }

  &__social-icon:last-child {
    margin-right: 0;
  }
  
  &__social-link {
    padding: 0;
    margin: 0;

    &:focus svg {
      fill: $accent;
    }

    &:hover svg {
     fill: $accent;
    }

    &:active svg {
      opacity: 0.5;
    }
  }

} 

.contacts-form {
  max-width: 626px;
  width: 100%;

  &__one,
  &__two {
    display: flex;

    @include maxw($xxl) {
      margin: 0;
      flex-wrap: wrap;
    }

    @include maxw($sm) {
      display: block;
    }

    .contacts__label {
      display: inline-block;
      margin-right: 55px;

      @include maxw($sm) {
        width: 100%;
        margin-right: 0;
      }
    }

    .contacts__label:nth-child(2) {
      margin-right: 0;
    }
  }
  
  .contacts__input {
    margin-top: 15px;
    font-size: 22px;
    line-height: 26px;
    color: #303030;
    font-family: 'Lato', sans-serif;
    font-weight: 400;

    @include maxw($xxl) {
      display: block;
      max-width: 300px;
      width: 100%;
    }

    @include maxw($sm) {
      max-width: 100%;
    }
  }

  .contacts__label-textarea {
    margin: 0;
    padding: 0;
  }

  .contacts__textarea {
    resize: none;
    max-width: 100%;
    width: 100%;
    height: 180px;
    margin: 15px 0 35px;
    padding: 10px;
    font-size: 22px;
    line-height: 26px;
    border: 1px solid #E5E5E5;

    &::placeholder {
      font-size: 22px;
      line-height: 26px;
      font-family: 'Lato', sans-serif;
      font-weight: 400;
    }
  }  
}